<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <section class="main-header">
        <img src="images/logo-mercado-liebre.svg" alt="Logo" id="logo" />

        <article id="header-searchBar">
          <input placeholder="Buscar productos, marcas" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </article>

        <h2 class="header-text">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </section>

      <nav class="header-navBar">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
          <li>
            <a href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
          </li>
          <li>
            <a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>

        <i class="fa-solid fa-bars"></i>
      </nav>
    </header>

    <main>
      <img width="100%" src="images/img-home-banner.jpg" alt="Banner" />

      <section>
        <h2>Basado en tu última visita</h2>

        <article class="producto">
          <img
            width="100%"
            src="images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="produc__descripcion">Cafetera Moulinex</p>
          </section>
        </article>

        <article class="producto">
          <img
            width="100%"
            src="images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="produc__descripcion">Macbook Pro 2019</p>
          </section>
        </article>

        <article class="producto">
          <img
            width="100%"
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="produc__descripcion">Samsung Galaxy S10</p>
          </section>
        </article>

        <article class="producto">
          <img
            width="100%"
            src="images/img-tv-samsung-smart.jpg"
            alt='SmartTv Samsung 43"'
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="produc__descripcion">SmartTv Samsung 43"</p>
          </section>
        </article>
      </section>

      <section>
        <h2>Ofertas</h2>

        <article class="producto">
          <img
            width="100%"
            src="images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            <p class="produc__descripcion">Cafetera Moulinex</p>
          </section>
        </article>

        <article class="producto">
          <img
            width="100%"
            src="images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <p class="produc__descripcion">Macbook Pro 2019</p>
          </section>
        </article>

        <article class="producto">
          <img
            width="100%"
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="produc__descripcion">Samsung Galaxy S10</p>
          </section>
        </article>

        <article class="producto">
          <img
            width="100%"
            src="images/img-tv-samsung-smart.jpg"
            alt='SmartTv Samsung 43"'
          />

          <section class="descripcion">
            <i class="fa-solid fa-truck"></i>

            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="produc__descripcion">SmartTv Samsung 43"</p>
          </section>
        </article>
      </section>
    </main>

    <footer>
      <i class="fa-solid fa-credit-card"></i>
      <strong><p>Pagá con tarjeta o en efectivo</p></strong>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>

      <i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>

      <i class="fa-solid fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </article>
    </footer>
  </body>
</html>
