<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <header>
      <section class="main-header">
        <a href="/"
          ><img src="images/logo-mercado-liebre.svg" alt="Logo" id="logo"
        /></a>

        <p id="header-searchBar">
          <input type="search" placeholder="Buscar productos, marcas" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </p>

        <p class="header-text">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </section>

      <nav class="header-navBar">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>

        <i class="fa-solid fa-bars"></i>
      </nav>
    </header>

    <form action="/register" method="GET">
      <article>
        <label>
          Nombre y apellido:
          <input type="text" name="nombre" required />
        </label>
      </article>
      <article>
        <label>
          Nombre de usuario:
          <input type="text" name="usuario" required />
        </label>
      </article>
      <article>
        <label>
          Email:
          <input type="email" name="email" required />
        </label>
      </article>
      <article>
        <label>
          Fecha de nacimiento:
          <input type="date" name="nacimiento" />
        </label>
      </article>
      <article>
        <label>
          Domicilio:
          <input type="text" name="domicilio" required />
        </label>
      </article>
      <article>
        <span>Perfil de Usuario:</span>
        <label>
          <input type="radio" name="perfilUsuario" value="Comprador" />
          Comprador
        </label>
        <label>
          <input type="radio" name="perfilUsuario" value="Vendedor" /> Vendedor
        </label>
      </article>
      <article>
        <span>Categoría:</span>
        <br />
        <label>
          <input type="checkbox" name="categoria" value="Electro" /> Electro
        </label>
        <br />
        <label>
          <input type="checkbox" name="categoria" value="Moda" /> Moda
        </label>
        <br />
        <label>
          <input type="checkbox" name="categoria" value="Hogar" /> Hogar
        </label>
        <br />
        <label>
          <input type="checkbox" name="categoria" value="Jugueteria" />
          Juguetería
        </label>
        <br />
        <label>
          <input type="checkbox" name="categoria" value="VidaSana" /> Vida Sana
        </label>
      </article>
      <article>
        <label>
          Ingresa una foto de perfil:
          <input type="file" name="fotoUsuario" accept="image/*" />
        </label>
      </article>
      <article>
        <label>
          Ingresa una contraseña:
          <input type="password" name="contraseña" required />
        </label>
      </article>
      <article>
        <label>
          Confirmar contraseña:
          <input type="password" name="contraseña" required />
        </label>
      </article>
      <section>
        <button type="reset">Borrar Formulario</button>
        <button type="submit"><a href="/">REGISTRARME</a></button>
      </section>
    </form>

    <footer>
      <i class="fa-solid fa-credit-card"></i>
      <strong><p>Pagá con tarjeta o en efectivo</p></strong>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>

      <i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>

      <i class="fa-solid fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </article>
    </footer>
  </body>
</html>
