<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="GET">
        <div>
            <label>
                Nombre y apellido:
                <input type="text" name="nombre">
            </label>
        </div>
        <div>
            <label>
                Nombre de usuario:
                <input type="text" name="usuario">
            </label>
        </div>
        <div>
            <label>
                Email:
                <input type="email" name="email">
            </label>
        </div>
        <div>
            <label>
                Fecha de nacimiento:
                <input type="date" name="nacimiento">
            </label>
        </div>
        <div>
            <label>
                Domicilio:
                <input type="text" name="domicilio">
            </label>
        </div>
        <div>
            <label>
                Perfil de Usuario:
                <input type="radio" name="perfilUsuario" value="Comprador"> Comprador
                <input type="radio" name="perfilUsuario" value="Vendedor"> Vendedor
            </label>
        </div>
        <div></div>
    </form>
</body>
</html>