@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:wght@100;400;700&display=swap");

header {
  background-color: #eac926;
  font-family: "Roboto", "sons-serif";
}

nav {
}

main {
  border: 15px solid #ebebeb;
}

i {
  text-align: center;
}

.fa-solid {
  color: #ffffff;
  background-color: #03264c;
  padding: 5px;
  border-radius: 2px;
}
