@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sons-serif";
}

header {
  background-color: #eac926;
  font-size: 12px;
}

nav {
  text-align: center;
}

.fa-bars {
  color: #ffffff;
  background-color: #03264c;
  padding: 5px;
  border-radius: 2px;
}

.fa-magnifying-glass {
  background-color: #fff;
  padding: 2px;
  border-radius: 3px;
}

ul {
  list-style: none;
  text-align: left;
}

li a {
  text-decoration: none;
  color: black;
}

.fa-id-card {
  color: black;
}

main {
  background-color: #ebebeb;
  border: 15px solid #ebebeb;
  width: 90vw;
}

.producto {
  margin: 10px;
}

.descripcion {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  background-color: #fff;
  position: relative;
}

.descripcion > .fa-truck {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.descuento {
  color: #39b54a;
  position: relative;
  bottom: 20px;
  left: 85px;
}

h2 {
  font-size: 24px;
}

main section p {
  font-size: 16px;
}

.precio {
  font-size: 18px;
}

footer {
  text-align: center;
}

.fa-credit-card,
.fa-gift,
.fa-user-shield {
  color: #03264c;
  size: 2em;
  margin-bottom: 10px;
}

.fa-truck {
  color: #36b446;
}

footer article {
  text-align: left;
}

@media (361px <= width <= 768px) {
  .produc__descripcion {
    display: none;
  }

  nav ul {
    display: none;
  }
}

@media (min-width: 769px) {
  .producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .fa-bars {
    display: none;
  }
}
